---
const {
  image,
  title,
  alt,
  description,
  pubDate,
  from = null,
  to = null,
  titleSize = "normal",
  contentWidth = 60,
  badgeLabel = "",
  reverseContent = false,
} = Astro.props;
const date = pubDate ? new Date(pubDate) : null;
const imageWidth = 100 - contentWidth;

const fromDate = from
  ? new Date(from).toLocaleDateString("it-IT", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : null;

const toDate = to
  ? new Date(to).toLocaleDateString("it-IT", {
      year: "numeric",
      month: "long",
      day: "numeric",
    })
  : null;

const fromTime = from
  ? new Date(from).toLocaleTimeString("it-IT", {
      hour: "2-digit",
      minute: "2-digit",
    })
  : null;
---

<style
  lang="scss"
  define:vars={{
    contentWidth: `${contentWidth}%`,
    imageWidth: `${imageWidth}%`,
  }}
>
  .card-horizontal-wrapper {
    background-color: var(--bs-card-bg);
    display: flex;
    flex-direction: row;
    min-height: 260px;
    overflow: hidden;
  }
  .card-horizontal-content {
    flex: 1 1 var(--contentWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-horizontal-image {
    flex: 1 1 var(--imageWidth);
    min-width: 200px;
    display: flex;
    align-items: stretch;
    background: #f6fafd;
  }
  .card-horizontal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @media (max-width: 768px) {
    .card-horizontal-wrapper {
      flex-direction: column;
    }

    .card-horizontal-content {
      flex: 1 1 100%;
      order: 2;
    }

    .card-horizontal-image {
      flex: 1 1 100%;
      order: 1;
    }
  }
</style>

<div class="card-horizontal-wrapper shadow rounded">
  {
    reverseContent && image && (
      <div class="card-horizontal-image">
        <img src={image} alt={alt} />
      </div>
    )
  }
  <div class="card-horizontal-content p-5">
    <div>
      {
        titleSize === "big" && (
          <h3
            class="fw-bold text-primary mb-3 multiline-ellipsis-3 fs-2"
            style="font-size:2.3rem;"
          >
            {title}
          </h3>
        )
      }
      {
        fromDate && (
          <h4 class="card-date fw-semibold text-secondary">
            {fromDate &&
              (toDate
                ? `Dal ${fromDate} al ${toDate}`
                : `Il ${fromDate}, ore ${fromTime}`)}
          </h4>
        )
      }
      {
        titleSize === "normal" && (
          <h4
            class="text-primary mb-3 multiline-ellipsis-3 fs-3"
            style="font-size:2.3rem;"
          >
            {title}
          </h4>
        )
      }
      {
        description && (
          <p
            class="text-secondary mb-3 multiline-ellipsis-3"
            style="font-size:1.3rem;"
          >
            {description}
          </p>
        )
      }
    </div>
    <div>
      <span class="text-accent fw-bold">{badgeLabel}</span>
      {
        date && (
          <span class="font-monospace small fw-normal text-muted ms-3">
            {date.toLocaleDateString("it-IT", {
              day: "numeric",
              month: "long",
              year: "numeric",
            })}
          </span>
        )
      }
    </div>
  </div>
  {
    !reverseContent && image && (
      <div class="card-horizontal-image">
        <img src={image} alt={alt} />
      </div>
    )
  }
</div>
