---
import CardWork from "./CardWork.astro";
import CardHorizontal from "./CardHorizontal.astro";
import GoToSection from "./GoToSection.astro";
import Card from "./Card.astro";
import CTA from "./CTA.astro";
import Rating from "./Rating.astro";
import Hero from "./Hero.astro";
import Newsletter from "./Newsletter.astro";
import InfoCard from "./InfoCard.astro";
import { getCollection } from "astro:content";

const homepages: any = await getCollection("homepages");
const home = homepages.find((item: any) => item.id === "musei")?.data;
const sections = home.sections;
---
<div>
  <h1 class="visually-hidden" id="main-container">Nome del comune</h1>
  {
    sections.map((section: any) => {
      switch (section.type) {
        case 'hero':
          return (
            <section id={`musei-${section.id}`}>
              <Hero {...section.data} />
            </section>
          );

        case 'info':
          return (
            <section id={`musei-${section.id}`} class="py-5 my-2">
              <h2 class="visually-hidden">{section.title}</h2>
              <div class="container">
                <h2>{section.title}</h2>
                <div class="row mt-4 gx-5">
                  {
                    section.data.map((info: any) => (
                      <div class="col-12 col-md-6 col-lg-6 mb-4">
                        <InfoCard {...info} />
                      </div>
                    ))
                  }
                </div>
              </div>
            </section>
          );

        case 'featuredCards':
          return (
            <section id={`musei-${section.id}`} class="py-4 bg-light">
              <h2 class="visually-hidden">{section.title}</h2>
              <div class="container">
                <h2>{section.title}</h2>
                <div class="row mt-4">
                  {
                    section.data.map((card: any) => (
                      <div class="col-12 mb-4">
                        <CardHorizontal {...card} />
                      </div>
                    ))
                  }
                </div>
                <div class="d-flex justify-content-end">
                  <GoToSection href={`#musei-${section.id}`} label="Tutte le mostre e gli eventi" />
                </div>
              </div>
            </section>
          );

        case 'works':
          return (
            <section id={`musei-${section.id}`} class="bg-light py-4">
              <h2 class="visually-hidden">{section.title}</h2>
              <div class="container">
                <h2>{section.title}</h2>
                <div class="row mt-4 gx-5">
                  {
                    section.data.map((work: any) => (
                      <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <CardWork {...work} />
                      </div>
                    ))
                  }
                </div>
                <div class="d-flex justify-content-end">
                  <GoToSection href={`#musei-${section.id}`} label="Tutte le opere" />
                </div>
              </div>
            </section>
          );

        case 'news':
          return (
            <section id={`musei-${section.id}`} class="bg-light py-4">
              <h2 class="visually-hidden">{section.title}</h2>
              <div class="container">
                <h2>{section.title}</h2>
                <div class="row mt-4">
                  {
                    section.data.map((item: any) => (
                      <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <Card {...item} />
                      </div>
                    ))
                  }
                </div>
                <div class="d-flex justify-content-end">
                  <GoToSection href={`#musei-${section.id}`} label="Tutte le notizie" />
                </div>
              </div>
            </section>
          );

        case 'newsletter':
          return (
            <section id={`musei-${section.id}`}>
              <Newsletter {...section.data} />
            </section>
          );

        case 'cta':
          return (
            <section id={`musei-${section.id}`}>
              <CTA {...section.data} />
            </section>
          );

        case 'rating':
          return (
            <section id={`musei-${section.id}`}>
              <Rating {...section.data} />
            </section>
          );
      }
    })
  }
</div>
