---
import Card from "./Card.astro";
import CategoryCard from "./CategoryCard.astro";
import HowToCard from "./HowToCard.astro";
import CTA from "./CTA.astro";
import QuickLink from "./QuickLink.astro";
import CardHorizontal from "./CardHorizontal.astro";
import { getCollection } from "astro:content";
import GoToSection from "./GoToSection.astro";

const homepages: any = await getCollection("homepages");
const home = homepages.find((item: any) => item.id === "asl")?.data;
const sections = home.sections;
---

<div>
  <h1 class='visually-hidden' id='main-container'>Nome del comune</h1>
  {
    sections.map((section: any) => {
      switch (section.type) {
        case 'featuredCards':
          return (
            <section id={`asl-${section.id}`} class='py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <div class='row mt-4'>
                  {
                    section.data.map((card: any, index: number) => (
                      <div class={`col-12 col-md-12 col-lg-${index === 0 ? '12' : '6'} mb-4`}>
                        <CardHorizontal {...card} />
                      </div>
                    ))
                  }
                </div>
              </div>
            </section>
          );

        case 'quickLinks':
          return (
            <section id={`asl-${section.id} bg-light`} class='bg-light py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <p class='text-secondary fs-4 py-2'>{section.description}</p>
                <div class='row'>
                  {
                    section.data.map((link: any) => (
                      <div class='col-12 col-md-6 col-lg-4 mb-4'>
                        <QuickLink {...link} />
                      </div>
                    ))
                  }
                </div>
              </div>
            </section>
          );

        case 'cta':
          return (
            <section id={`asl-${section.id}`}>
              <CTA {...section.data} />
            </section>
          );

        case 'howTo':
          return (
            <section id={`asl-${section.id}`} class='bg-light py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <p class='text-secondary fs-4 py-2'>{section.description}</p>
                <div class='row'>
                  {
                    section.data.map((item: string) => (
                      <div class='col-12 col-md-6 col-lg-6 mb-4'>
                        <HowToCard title={item} />
                      </div>
                    ))
                  }
                </div>
              </div>
            </section>
          );

        case 'categories':
          return (
            <section id={`asl-${section.id}`} class='py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <p class='text-secondary fs-4 py-2'>{section.description}</p>
                <div class='row'>
                  {
                    section.data.map((item: string) => (
                      <div class='col-12 col-md-6 col-lg-3 mb-4'>
                        <CategoryCard title={item} />
                      </div>
                    ))
                  }
                </div>
              </div>
            </section>
          );

        case 'news':
          return (
            <section id={`asl-${section.id}`} class='bg-light py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <p class='text-secondary fs-4 py-2'>{section.description}</p>
                <div class='row'>
                  {
                    section.data.map((item: any) => (
                      <div class='col-12 col-md-6 col-lg-4 mb-4'>
                        <Card {...item} />
                      </div>
                    ))
                  }
                </div>
                <div class="d-flex justify-content-end">
                  <GoToSection href={`#asl-${section.id}`} label="Tutte le notizie" />
                </div>
              </div>
            </section>
          );

        case 'tenders':
          return (
            <section id={`asl-${section.id}`} class='bg-light py-4'>
              <h2 class='visually-hidden'>{section.title}</h2>
              <div class='container'>
                <h2>{section.title}</h2>
                <p class='text-secondary fs-4 py-2'>{section.description}</p>
                <div class='row'>
                  {
                    section.data.map((item: any) => (
                      <div class='col-12 col-md-6 col-lg-6 mb-4'>
                        <Card {...item} />
                      </div>
                    ))
                  }
                </div>
                <div class="d-flex justify-content-end">
                  <GoToSection href={`#asl-${section.id}`} label="Tutti i bandi" />
                </div>
              </div>
            </section>
          );
      }
    })
  }
</div>
