---
const props = Astro.props;
const { title, items, icon, goToText, goToUrl } = props;
---

<div class="info-card bg-light border-bottom border-2 p-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h4>{title}</h4>
    <svg class="icon icon-lg icon-primary"
      ><use xlink:href={`bsi-svg/sprites.svg#${icon}`}></use></svg
    >
  </div>
  <div class="info-card-items">
    {
      items.map((item: { label: string; description: string }) => (
        <div class="info-card-item mb-4">
          <h6 class="text-secondary">{item.label}</h6>
          <p>{item.description}</p>
        </div>
      ))
    }
  </div>
  <div class="pt-2">
    <small>
      <a class="fw-semibold" href={goToUrl}>{goToText}</a>
    </small>
    <svg class="icon icon-sm icon-primary"
      ><use xlink:href="bsi-svg/sprites.svg#it-arrow-right"></use></svg
    >
  </div>
</div>
